<div class="admin-dashboard-container">
  <h2><i class="fas fa-user-shield"></i> Admin Paneli</h2>
  <p class="dashboard-description">Yönetim seçeneklerinizi aşağıdan seçebilirsiniz:</p>

  <div class="admin-card-grid">
    <a class="dashboard-card" (click)="goToUserList()">
      <i class="fas fa-users"></i>
      Kullanıcıları Görüntüle
    </a>
    <a class="dashboard-card" (click)="goToTimesheetList()">
      <i class="fas fa-calendar-alt"></i>
      Tüm Timesheet Kayıtları
    </a>
  </div>
</div>
