<div class="dashboard-container">
<h2 *ngIf="user">
  👋 Hoş Geldiniz, {{ user.username }}!
</h2>

  <h2 *ngIf="!user">
    <i class="fas fa-hand-wave"></i> Hoş Geldiniz!
  </h2>

  <!-- Yeni Timesheet Oluştur Butonu -->
  <div style="margin-bottom: 16px; text-align: right;">
    <a class="create-btn" routerLink="/user-timesheet-create">
      <i class="fas fa-plus-circle"></i> Yeni Timesheet Oluştur
    </a>
  </div>

  <!-- Gömülü Timesheet Listesi -->
  <app-timesheet-list></app-timesheet-list>
</div>